.btn { display: inline-block; padding: 1.5rem 3rem; border-radius: 4rem;
background: linear-gradient(
    90deg,
    #ff1744,
    #8a00ff
);
font-weight: bold;
box-shadow:
    0 0 20px rgba(255, 0, 100, 0.4);
transition: 0.3s;
animation: buttonGlow 2s ease-in-out infinite alternate;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 35px rgba(255, 0, 150, 0.7);
}