/* Обертка для постера */
.fullwidth-poster-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Дополнительно прячем всё, что может вылезать за границы */
}

/* Стилизация самой картинки */
.fullwidth-poster-img {
    display: block; 
    width: 100%;    /* Безопасное растягивание по ширине родителя */
    height: auto;   /* Сохраняем пропорции */
    max-width: 100%;
}